html, body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin:0;
  padding:0;
 
  
}

.top {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 370px;
    background: #313131;

}

.content {
    
    display: flex;
    align-items:center;
    justify-content: center;

}

.content-1 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 63px;
    width: 75%;
    height: 356px;
   
}

.white {
  background: #fff;
}

.lorem {

    position: absolute;
    top: 480px;
    letter-spacing: 3.5px;
    margin-right: 2px;
    font-weight: 100;
    color: #555555;
}

.para-lorem {
  width:36%;
  margin-top: -5px;
  line-height: 1.5;
  text-align: center;
  position: absolute;
  color: #555555;
}

.button {
  width: 185px;
  height: 40px;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #111;
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 91px;
  justify-content: center;
  color: #555555;
}

.content-x {

  position: absolute;
  margin-top: 65px;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex-wrap: wrap;
}

.content-x::after {
  display: block;
  clear:both;
  content: "";
}

.content-i {
  width: 37%;
  box-sizing: border-box;
  height: 540px;
 
  
  border-radius: 5px;
  margin: 0px 10px 25px 10px;
}

.pic1 {

  background: url('images/pic01.jpg');
  
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;

}

.pic2 {

  background: url('images/pic02.jpg');
  
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;

}

.pic3 {

  background: url('images/pic03.jpg');
 
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;

}

.pic4 {

  background: url('images/pic04.jpg');
  
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;

}

.para-content {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
 
}

.more-btn {

  
  margin-bottom: -10px;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #a9a9a9;
  color: #555555;
  font-size: 14px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-para {

  
  margin-bottom: 26px;
  color: #555555;
  line-height: 1.6;
  font-size: 16px;
  width: 75%;
  text-align: center;
  
}

.image {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 240px;
  border-radius: 6px;
  color: white;
  
}

hr {
  margin: 0;
  padding: 0;
  width: 198px;
  position: absolute;
  top: 240px;
}

.text-final {

  font-size: 63px;
  font-weight: 500;
  letter-spacing: 0.2;
  color: white;
  margin-top: 22px;
  margin-right: 1px;


  
}
